@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local("Poppins"),
    url(../../genius-lesson-project-main/fonts/poppins-v20-latin-300.woff)
      url("trickster-COLRv1.otf") format("opentype") tech(color-COLRv1),
    url("trickster-outline.otf") format("opentype"),
    url("trickster-outline.woff") format("woff");
}
:root {
  --color-primary-light: #afdf56;
  --color-primary-dark: #1f300e;
  --color-brand: #244702;
  --color-link: #2e7f1c;
  --color-link-hover: #0b0bee;
  --color-button-active: #2e2eb0;
  --color-button-hover: #2e7f1c;
  --color-main: #f5f5f5;
  --color-header-search: #ffffff;
}

/* Base */
* {
  box-sizing: border-box;
}
body {
  background-color: var(--color-main);
  color: var(--color-primary-dark);
  margin: 0;
  /* font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 400; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
address {
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.container {
  width: 100%;
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0 24px;
}
.section {
  padding: 48px 0;
}
/* button */
.button {
  margin-right: 24px;
  padding: 8px 32px;
  color: rgb(238, 235, 235);
  background-color: var(--color-brand);
  border: 2px solid var(--color-primary-dark);
  border-radius: 18px;
  cursor: pointer;
}
.button:hover {
  background-color: var(--color-button-hover);
}
.button:focus {
  background-color: var(--color-primary-light);
}
.button:active {
  background-color: var(--color-button-active);
}

.link {
  color: var(--color-link);
  text-decoration: none;
}
.link:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}
/* header */
.header-navigator-top {
  height: 48px;
  display: flex;
  align-items: center;
  background-color: var(--color-main);
  gap: 24px;
}
.header-menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
.header-menu-lngv {
  display: flex;
  gap: 12px;
}
/* header search */
.header-navigator-search {
  background-color: var(--color-header-search);
  height: 48px;
  align-content: center;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  list-style: none;
  gap: 1rem;
}
.header-container > li.left,
.header-container > li.right {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
}
.header-container > li.center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-container input[type="search"] {
  width: 100%;
  max-width: 500px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* search */
.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.search-box input[type="search"] {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.search-box button {
  padding: 0.5rem 1rem;
  color: #084a21;
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
  border-left: none;
  border-radius: 0 8px 8px 0;
  /* font-size: 1rem; */
}
/* card */
.card {
  border: 1px solid var(--color-primary-light);
  border-radius: 16px;
  padding: 24px;
  box-shadow: 10px -10px 10px -10px rgb(6, 69, 40);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-item {
  flex-basis: calc(
    100%-70px / 5
  ); /* 40px это если 3 элемента и gap=20, потом пересчитать*/
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
/* conacts */
.contact-section {
  text-align: center;
}

.map-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
/* footer */
.footer-link {
  color: var(--color-primary-dark);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.footer-link:hover {
  color: var(--color-link-hover);
}

.address-copyright {
  font-size: 14px;
}

.footer {
  background-image: url("../images/footer.png");
  background-color: #323c1f;
  background-size: cover;
  background-position: bottom center;
  /* text-shadow: 5px 5px 5px #ffffff; */
  text-shadow: 2px 2px 5px #62f90b;
}
.footer-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 40px;
}
