@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Poppins"),
  url("../../public/fonts/poppins-v20-latin-300.woff") format("woff");
}

//@font-face {
//  font-family: "Trickster";
//  font-style: normal;
//  font-weight: normal;
//  font-display: swap;
//  src: url("/fonts/trickster-COLRv1.otf") format("opentype") tech(color-COLRv1),
//  url("/fonts/trickster-outline.otf") format("opentype"),
//  url("/fonts/trickster-outline.woff") format("woff");
//}